# vim: expandtab shiftwidth=4 filetype=ini:
# SPDX-License-Identifier: GPL-3.0-or-later

# 
# 
# ~chewygumxx/cloudflare-ddns.git
# ::: :/cloudflare-ddns@.service
# 
# 

[Unit]
Description=Cloudflare DDNS Synchronisation

[Service]
Type=oneshot
ExecStart=%h/.local/bin/cloudflare-ddns
LoadCredential=env:%E/cloudflare-ddns/%i
Environment=ENVPATH=%d/env
Restart=on-failure
RestartSec=30

NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
SystemCallFilter=@system-service
SystemCallArchitectures=native
CapabilityBoundingSet=
RestrictSUIDSGID=true
ProtectHostname=true
RestrictRealtime=true
PrivateDevices=true
ProtectProc=invisible
ProcSubset=pid
KeyringMode=private
UMask=0077
SystemCallFilter=~@privileged @resources
