# vim: expandtab shiftwidth=4 filetype=systemd:
# SPDX-License-Identifier: GPL-3.0-or-later

# 
# 
# ~chewygumxx/cloudflare-ddns.git
# ::: :/cloudflare-ddns@.service
# 
# 

[Unit]
Description=Cloudflare DDNS Synchronisation

[Service]
Type=oneshot
ExecStart=%h/.local/bin/cloudflare-ddns-update "%i"
Restart=on-failure
RestartSec=30
